<h3 class="text-typing-animation_wrapper">{{staticTxt}}{{typewriterDisplay}}</h3>

<!-- <li *ngFor="let animal of animals$ | async"> -->
<!-- <a routerLinkActive="active" [routerLink]="['/animals', animals.name]" > -->
<!-- private route: ActivatedRoute -->
<!-- this.router.navigate(['animals']) -->
<!-- redirect -->
<!-- ng g guard admin -->
<!-- const messageSource = new BehaviorSubject<string>; -->
<!-- messageSource.asObservable()  messageSource.next()  subscribe(message => this.m = message) -->
<!--  -->