<footer class="footer">
    <div class="footer__content">
        <h3>Paintly Web</h3>
        <p>The web application to create and share images</p>
        <ul class="footer__socials">
            <li>
                <a href="#">
                    <i class="fa fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-solid fa-book"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-brands fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__bottom">
        copyright &copy;2023.
    </div>
</footer>