<app-orbs-background>
    <div class="home">
        <div class="home__container">
            <header class="home__header">
                <h1 class="home__header__title">Create Unique Beautiful Graphics with Paintly</h1>
                <h2 class="home__header__subtitle">Then export them as images or save in the cloud</h2>
            </header>
            <div class="home__section home__section__1">
                <div class="home__section__item home__section__a"><img [src]="flowers1" alt="" /></div>
                <div class="home__section__item home__section__b">
                    <h3>
                        <div>Paint.</div>
                        <div>See More.</div>
                        <div>Do More.</div>
                    </h3>
                </div>
            </div>
            <div class="home__section home__section__2">
                <div class="home__section__item home__section__a">
                    <img [src]="flowers2" alt="" />
                </div>
                <div class="home__section__item home__section__b">

                    <h3>
                        Paintly Gets The Job Done
                    </h3>
                </div>
                <div class="home__section__item home__section__c">
                    <app-link-button [onClick]="changeRoute">
                        Try the editor
                    </app-link-button>
                </div>
            </div>

            <div class="home__section home__section__3">
                <img [src]="leaves1" alt="" />
            </div>

            <div class="home__section home__section__4">
                <div class="home__section__item home__section__a">
                    <img [src]="leaves2" alt="" />
                </div>
                <div class="home__section__item home__section__b">
                    <h3>
                        Nothing To Worry About With Paintly
                    </h3>
                </div>
                <div class="home__section__item home__section__c">
                    <app-link-button [onClick]="changeRoute"> Create an account</app-link-button>
                </div>
            </div>
        </div>
    </div>
</app-orbs-background>